<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="logo">Corner</h2>
      <p>Corner • coffee & desserts • Tbilisi</p>
      <div class="social-icons">

<a href="https://www.instagram.com/corner.tbilisi" target="_blank" rel="noopener noreferrer">
  <i class="fa-brands fa-instagram"></i>
</a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>9 Ilo Mosashvili St</p>
      <p>Tbilisi, Georgia 0179</p>
      <p>Mon-Sat: 10AM - 8PM</p>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/menu">Menu</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
   
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Created by: <a href="">Lasha-Giorgi Bajadze</a></p>
  </div>
</footer>

